<!doctype html>
<html lang="en">
<head>
    {% block head %}
	<title>Base template</title>
	<meta charset="utf-8">
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <ul class="navbar">
        <li class="nav"> <h3> <a href="{{url_for('home')}}">Home</a> </h3> </li>
        <li class="nav"> <h3> <a href="{{url_for('mentors')}}">Browse mentors</a> </h3> </li>
        <li class="nav"> <h3> <a href="{{url_for('profile')}}">View Profile</a> </h3></li>
        <li class="nav"> <h3> <a href="{{url_for('logout')}}">Logout</a> </h3> </li>
        <li class=""> <a href="{{url_for('home')}}"><img src="/static/images/DandyHive.png" alt="Logo" style ="float: right; height:4rem; padding-right:2rem; padding-top:3px"></a></li>
    </ul>
	{% block body %}

    {% endblock %}
    

</body>
</html>
