{% extends "base.html" %}
<!doctype html>
<html lang="en">
<head>
    {% block head %}
	<title>Home</title>
	<meta charset="utf-8">
    {% endblock %}
</head>
<body>
    {% block body %}
	<h1> Welcome to DandyHive! </h1>
    <p> DandyHive is a centralized hub for finding mentorships. 
        If you are a student who seeks guidance from a peer but is intimidated by the vast social network on LinkedIn 
        or by the alumni on the Meliora Collective, then look no further. DandyHive was made with the intention of allowing
        students to establish mentorship with only current students, especially students that share similar backgrounds or club membership.  </p>
    {% endblock %}
</body>
</html>