{% extends "base_login.html" %}
<!doctype html>
<html lang="en">

<head>
    <title>Mentor list</title>
    <meta charset="utf-8">
</head>

<body>
    {% block body %}
    <h1 style="padding-top: 100px;"> Mentor List </h1>
    <form action="{{ url_for('mentors') }}" method="GET">
      <input type="text" name="search" value="{{ search_term }}">
      <button type="submit">Search</button>
    </form>
    {% for user in users %}
    <!-- <p>{{user.netid}}</p> -->
    <p style="position: static"><a href="{{url_for('mentor_profile',id=user.id)}}">{{user.firstname}} {{user.lastname}}</a></p>
    <!-- <p>{{user.lastname}}</p> -->

    <!-- <p>{{user.user_profile.industry}}</p>
    <p>{{user.user_profile.role}}</p>
    <p>{{user.user_profile.subject}}</p>
    <p>{{user.user_profile.organizations}}</p>
    <p>{{user.user_profile.bio}}</p> -->
    </p>
    {% endfor %}
    {% endblock %}
</body>

</html>
