{% extends "base_login.html" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>View Profile</title>
        <meta charset="utf-8">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <style>
            p{
                padding-left: 4rem;
            }
            span{
                color: #D9D9D9;
                padding-left: 0.5rem;
                line-height: 1rem;
                padding-bottom: 15px;
            }
        </style>
            <h1 style="
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 75px;
            line-height: 90px;
            text-align: center;
            padding-top: 4rem;
            border-bottom: 5px solid #F5F5F5">
            My Profile</h1>
            <div style="display: flex; justify-content: flex-start; flex-direction: row; padding-left: 1rem;">
                <img src="static/images/{{user.pfp}}" alt="picture of {{user.firstname}} {{user.lastname}}" style = "display: flex; flex-direction:column; width: 40rem">
                <p style= "display: flex; flex-wrap: wrap; flex-direction: column; justify-content: flex-start;">
                    <span>First Name: {{user.firstname}}</span>
                    <span>Last Name: {{user.lastname}}</span>
                    <span>industry: {{user.user_profile.industry}}</span>
                    <span>Role: {{user.user_profile.role}}</span>
                    <span>Focus: {{user.user_profile.subject}}</span>
                    <span>Student Organizations: {{user.user_profile.organizations}}</span>
                    <span>Bio: {{user.user_profile.bio}}</span>
                </p>
            </div>
            
        {% endblock %}
    </body>
</html>
