{% extends "base.html" %}
<!doctype html>
<html lang="en">
<link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
<head>
	<title>Add User</title>
	<meta charset="utf-8">
</head>
<body>
	{% block body %}
	<h1>Add a mentor!</h1>
	<form action="{{url_for('register_2')}}" method = "POST">
		{{ form.hidden_tag() }}
		<ul>
			<li class="item"> {{ form.classyear.label }} {{ form.classyear() }} </li>
			<li class="item"> {{ form.major.label }} {{ form.major() }} </li>
			<li class="item"> {{ form.minor.label }} {{ form.minor() }} </li>
			<li class="item"> {{ form.cluster.label }} {{ form.cluster() }} </li>
			<li class="item"> {{ form.submit() }} </li>
		</ul>

	</form>
	{% endblock %}
</body>
</html>
