body {
  background-color: #003b71;
  color: white;
  font-size: 20px;
  margin:0px;
}

h1 {
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
}

.item {
  padding-bottom: 20px;
}

.nav {
  float: left;
}

li a {
  color: white;
  display: block;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background: rgba(3,3,3,.75);
  backdrop-filter: blur(25px);
  position: fixed;
  top:0;
  width: 100%;
}